<html>

<body>
    Użytkownik :
    <%= user %>
    </br>
    <%if (pswd) { %>
        <p>Hasło: </p>
        <%= pswd %>
    <% } %>
    <ol>
        <li>tekst1</li>
        <li>tekst2</li>
        <li>tekst3</li>
        <li>tekst4</li>
        <li>tekst5</li>
    </ol>
</body>

</html>