<!-- radio.ejs -->

<div>
    <h1>
        <%= t2 %>
    </h1>
    <% radioList.radios.forEach( radio => { %>
        <input type="radio" value="<%=radio.value%>">
        <%= radio.text %>
        <br>
    <% }) %>

</div>